{% extends 'base.html.twig' %}

{% block title %}Page produit{% endblock %}

{% block body %}
        <!--Hero section-->
        <section class="hero is-link">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <p class="title is-size-4">
                      Description produit
                    </p>
                </div>
            </div>
        </section>
        <!-- Section Gallery & Info product-->
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <figure class="image is-3by2">
                            <img src="https://bulma.io/images/placeholders/256x256.png">
                        </figure>
                    </div>
                    <div class="column">
                        <h1 class="title is-size-4">Pomme de terre</h1>
                        <hr>
                        <div class="content">
                            <p><b>Provenance : </b> Ces pomme de terre viennent de la ville de Saint Louis. Ne contient pas de pésticides.</p>
                            <p><b>Producteur : </b>Jean cristophe</p>
                            <p><b>Prix : 1.5 €/u</b></p>
                            <div class="buttons">
                                <a href="panier.html" class="button">Ajouter au panier</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section List product-->
        <section class="section">
            <div class="container">
                <h2 class="title is-size-5">produits similaires</h2>
                <hr>
                <div class="columns">
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                              <figure class="image is-4by3">
                                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                              </figure>
                            </div>
                            <div class="card-content">
                              <div class="media">
                                <div class="media-content">
                                  <p class="title is-4">Pomme de terre</p>
                                </div>
                              </div>
                              <div class="content">
                                <b>Provenance : </b>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Phasellus nec iaculis mauris.
                                <br>
                                <b>Prix : 1.5€ /Unité</b>
                              </div>
                              <div class="buttons has-addons is-right">
                                <a href="single.html" class="button">Acheter</a>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                              <figure class="image is-4by3">
                                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                              </figure>
                            </div>
                            <div class="card-content">
                              <div class="media">
                                <div class="media-content">
                                  <p class="title is-4">Pomme de terre</p>
                                </div>
                              </div>
                              <div class="content">
                                <b>Provenance : </b>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Phasellus nec iaculis mauris.
                                <br>
                                <b>Prix : 1.5€ /Unité</b>
                              </div>
                              <div class="buttons has-addons is-right">
                                <a href="#" class="button">Acheter</a>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                              <figure class="image is-4by3">
                                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                              </figure>
                            </div>
                            <div class="card-content">
                              <div class="media">
                                <div class="media-content">
                                  <p class="title is-4">Pomme de terre</p>
                                </div>
                              </div>
                              <div class="content">
                                <b>Provenance : </b>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Phasellus nec iaculis mauris.
                                <br>
                                <b>Prix : 1.5€ /Unité</b>
                              </div>
                              <div class="buttons has-addons is-right">
                                <a href="#" class="button">Acheter</a>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
