                    <div class="column is-one-quarter">
                        <div class="card">
                            <div class="card-image">
                              <figure class="image is-4by3">
                                <img src="/Assets/Medias/pomme-de-terre.jpg" alt="Placeholder image">
                              </figure>
                            </div>
                            <div class="card-content">
                              <div class="media">
                                <div class="media-content">
                                  <p class="title is-4">Pomme de terre</p>
                                </div>
                              </div>
                              <div class="content">
                                <b>Provenance : </b>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Phasellus nec iaculis mauris.
                                <br>
                                <b>Prix : 1.5€ /Unité</b>
                              </div>
                              <div class="buttons has-addons is-right">
                                <a href="/single" class="button">Acheter</a>
                              </div>
                            </div>
                        </div>
                    </div>