{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <h1 class="title is-size-4">Mon panier</h1>
            <div class="columns">
                <div class="column">
                    <table class="table">
                    <thead>
                        <tr>
                        <th>Nom du produit</th>
                        <th>Prix du produit</th>
                        <th>Quantité du produit</th>
                        <th>Options</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan ="3"><b>Total :</b></td>
                            <td><b>{{ prixTotal }} €</b></td>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for panier in panierContent %}
                        <tr>
                            <td>{{ panier.produit.name }}</td>
                            <td>{{ panier.produit.prix }}</td>
                            <td>{{ panier.quantite }}</td>
                            <td>Supprimer</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
